
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

@import "./reset.css";
@import "./variables.css";

/* index : main 페이지 */
@import "./index/welcome.css";
@import "./index/product.css";

/* join : 로그인, 회원가입 */
@import "./join/login.css";
@import "./join/join.css";
    /* 개인 회원가입 */
    @import "./join/join_person.css";
    @import "./join/join_person-input.css";
    /* 기업 회원가입 */
    @import "./join/join_company.css";
    @import "./join/join_company-input.css";

/* food : 추천음식 */
@import "./food/question.css";
@import "./food/select.css";
@import "./food/sortBox.css";
@import "./food/SaleProduct.css";
    /* 음식 상세페이지 */
    @import "./food/Product_detail.css";

/* myPage : 마이페이지 */
@import "./myPage/profile.css";
@import "./myPage/myPageMenu.css";
@import "./mypage/myPageBox.css";
    /* 판매자 페이지 */
        @import "./myPage/sellerPageBox.css";



/* 고객문의 */
    /* Question : 공지사항*/
    @import "./cs/question_main.css";
    @import "./cs/question_submit.css";

    /* CsBox : 상담 게시판 */
    @import "./cs/CsBox.css";
    @import "./cs/CsBox_button.css";


/* component */
@import "./components/header.css";
@import "./components/search_bar.css";
@import "./components/footer.css";
@import "./components/choi_bar.css";

@import "./index/test.css";
@import "./components/popup.css";

/* 페이지 설정 */
.wrap{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.wrap_main{
    background-color: #B8C9FF;
}


