
@import "./reset.css";

/* index : main 페이지 */
@import "./index/welcome.css";
@import "./index/product.css";

/* join : 로그인, 회원가입 */
@import "./join/login.css";
@import "./join/join.css";

/* food : 추천음식 */
@import "./food/question.css";
@import "./food/select.css";
@import "./food/sortBox.css";
@import "./food/SaleProduct.css";

/* myPage : 마이페이지 */
@import "./myPage/profile.css";
@import "./myPage/myPageMenu.css";
@import "./mypage/myPageBox.css";

/* CsBox : 1:1 상담 */
@import "./cs/CsBox.css";

/* component */
@import "./components/header.css";
@import "./components/search_bar.css";
@import "./components/footer.css";
@import "./components/choi_bar.css";

/* 페이지 설정 */
.wrap{
    width: 100%;
    height: 100vh;
    background-color: white;
    box-sizing: border-box;
}


