.wrap2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainProduct{
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
}
.mainProduct__title{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 40px;
    margin: 100px 0px 50px 0px;
}
.mainProduct__product{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.mainProduct__product-items{
    width: 300px;
    height:400px;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    background-color: teal;
}
.mainProduct__product-items__img{
    width: 100%;
    height: 70%;
    background-color: yellow;
}
.mainProduct__product-items__name{
    width: 100%;
    height: 10%;
    background-color: orange;
}
.mainProduct__product-items__price{
    width: 100%;
    height: 10%;
    background-color: blue;
}
.mainProduct__product-items__desc{
    width: 100%;
    height: 10%;
    background-color: green;
}
