.select__box{
  /* box 사이즈 및 위치 */
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 15%;

  /* 아래 컬러는 box 사이즈 및 위치 확인용 */
  /* background-color: tomato; */

  /* 박스 안 정렬 */
  padding: 0px 10px 0px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* padding으로 인한 넘침 방지 */
  box-sizing: border-box;
}

.select__box-main{
  width: 15%;
  height: 80%;
  background-color: #F4FFFF;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.select__box-title{
  width: 100%;
  height: 20%;

  /* 크기확인용 */
  /* background-color: teal; */

  font-size: 200%;
  /* 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: -30%;
}

.select__box-text{
  width: 100%;
  height: 40%;

  /* 크기확인용 */
  /* background-color: tomato; */
  
  font-size: 130%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select__box-text p {
  color: #A6A6A6;
  margin-bottom: 2px;
}
