#MainSelectForm{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  #mainSelectBox{
    background-color: rgb(222, 222, 222);
    width: 600px;
    height: 80px;
    border-radius: 40px;
    position: relative;
  }
    #mainSelectContents{
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      /* width: 100%;
      height: 50px; */
      text-align: center;
    }
      /* .mainSelectContentsStyle{
        width: 190px;
        height: 40px;
        border-radius: 10px;
        margin-right: 20px;
      } */

      /* 운동 종목 선택 스타일 option스타일은 css 못함 쿼리나 js써야함 */
      select, input[type="time"], input[type="number"], input[type="submit"] {
        box-sizing: border-box;
        height: 40px; /*  미만시 높이 이상해짐 */
        padding: 5px 12px;  
      }
      
      select{
        width: 120px;
        text-align: center;
        text-align-last: center;
        /* font-size:15px; */
      }
      
      input[type="time"]{
        width: 150px;
        text-align: center;
      }

      input[type="number"]{
        width: 100px;
        text-align: center;
      }

      input[type="submit"]{
        width: 75px;
      }