.myPage_main{
    width: 100%;
    height: 70vh;
    display: flex;
}
.myPage_Menu{
    width: 10%;
    height: 100%;

    /* background-color: yellow; */
}

.myPage_Menu > ul > li > a {
    display: block;
    padding: 10px;
    background-color: #ccc;
    text-align: center;
}
.myPage_Menu > ul > li > a:hover {
    background-color: #9c9c9c;
}

/* javascript 할시 주석처리 해제하기 */
/* .myPage_Menu > ul > li > ul {
    display: none;
} */
.myPage_Menu > ul > li > ul > li > a {
    display: block;
    padding: 10px;
    text-align: center;
}
.myPage_Menu > ul > li > ul > li > a:hover {
    background-color: #c0c0c0;
}