.loginBox{
    /* 위치 가운데 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 35%;
    height: 90%;
}

.loginBox__logo{
    width: 100%;
    height: 20%;

    /* 이미지 설정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.loginBox__logo  img{
    width: 50%;
    height: 100%;
}

.loginBox__member{
    width: 100%;
    height: 10%;
    padding: 10px 0px;
    background-color: white;

    display: flex;
    box-sizing: border-box;
}
.loginBox__member-y{
    width: 50%;
    height: 100%;
    
    border: 1px solid black;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBox__member-n{
    width: 50%;
    height: 100%;

    background-color: rgb(212, 212, 212);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox__main{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.loginBox__form{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 로그인 아이디 비밀번호 */
.loginBox__form-inputBox{
    width: 80%;
    height: 30%;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-stretch: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;     
}

label #member_id{
    margin: 0.4em 0;
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 0.5em 0;
    position: relative;
    font-size: 1em;
}

label #member_password{
    margin: 0.3em 0;
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    padding: 0.5em 0;
    position: relative;
    font-size: 1em;
}

/* 로그인 버튼 */
.loginBox__form-login {
    width: 80%;
    height: 10%;
    margin: 0.4em 0;
    padding: 0; /* 내부 패딩 제거 */
    background-color: #333;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
}

.loginBox__form-login li {
    list-style: none; /* 목록 기호 제거 */
    margin: 0;
    padding: 0;
}

.loginBox__form-login a {
    text-decoration: none;
    color: #fff;
}

/* 아이디 저장 */
.loginBox__form-except {
    width: 80%;
    height: 5%;
    font-size: 1.2em;
    text-align: center;
}

.loginBox__form-except label {
    font-size: 0.8em;
}

/* sns 로그인  */
.loginBox__form-sns{
    width: 80%;
    height: 20%;
    /* background-color: beige; */
    margin: 0.4em 0;
}

.loginBox__form-sns a{
    float: left;
    position: relative;
}


/* 회원가입 */
.loginBox__form-join{
    width: 80%;
    height: 10%;
}

.loginBox__form-joinDiv{
    width: 100%;
    height: 100%;
    border: 3px solid #999;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 비회원주문 시작 */
.loginBox__form_no{
    width: 100%;
    height: 100%;
    margin: 80px 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

/* 주문자명 */
    #loginBox__form_no-name{
        margin: 0.4em 0;
        display: inline-block;
        min-height: 29px;
        line-height: 29px;
        vertical-align: center;
        cursor: pointer;
        width: 80%;
        padding: 0.5em 0;
        position: relative;
        font-size: 1em;
        justify-content: center;
        align-items: center;   
}


/* 주문번호 */
    label #loginBox__form_no-id{
        margin: 0.4em 0;
        display: inline-block;
        min-height: 29px;
        line-height: 29px;
        vertical-align: center;
        cursor: pointer;
        width: 80%;
        padding: 0.5em 0;
        position: relative;
        font-size: 1em;
        justify-content: center;
        align-items: center; 
        
    }
    
/* 비회원조회 비밀번호 */
    label #loginBox__form_no-password{
        margin: 0.4em 0;
        display: inline-block;
        min-height: 29px;
        line-height: 29px;
        vertical-align: center;
        cursor: pointer;
        width: 80%;
        padding: 0.5em 0;
        position: relative;
        font-size: 1em;
        justify-content: center;
        align-items: center; 
    }

/* 조회 */
    .btns li .loginBox__form_no-check{
        width: 81%;
        height: 0.8%;
        border-radius: 10px;
        margin-bottom: 0.3em;
        padding: 16.7px 0;
        text-align: center;
        display: flex;
        background-color: #333;
        color: #fff;
        font-weight: bold;
        justify-content: center;
        align-items: center; 
    }
