.loginBox{
    /* 위치 가운데 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 35%;
    height: 90%;
}

.loginBox__logo{
    width: 100%;
    height: 30%;

    /* 이미지 설정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.loginBox__logo  img{
    width: 50%;
    height: 100%;
}

.loginBox__member{
    width: 100%;
    height: 10%;
    margin-top: 20px;
    padding: 10px 0px;
    background-color: white;

    display: flex;
    box-sizing: border-box;
}
.loginBox__member-y{
    width: 50%;
    height: 100%;
    
    border: 1px solid black;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBox__member-n{
    width: 50%;
    height: 100%;

    background-color: rgb(212, 212, 212);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox__main{
    width: 100%;
    height: 50%;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.loginBox__form{
    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 아이디 & 비밀번호 */
.loginBox__form-inputBox{
    width: 80%;
    height: 35%;
    /* background-color: orange; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .inputBox-id{
        width: 100%;
        height: 40%;
        background-color: white;
        margin-bottom: 10px;
    }
        .member_id{
            width: 100%;
            height: 100%;
            padding-left: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }

/* 로그인 submit */
.loginBox__form-login{
    width: 80%;
    height: 13%;
    /* background-color: yellow; */
}
    .member-login{
        width: 100%;
        height: 100%;
        background-color: #A6A9D7;
        border: 1px solid #A6A9D7;
        border-radius: 10px;
    }
    .member-login-sumbit{
        cursor: pointer;
        border: none;
        margin: 0;
        padding: 0;
        color: white;
    }

/* sns 계정으로 로그인 >> 없어도 될 듯*/
/* .loginBox__form-except{
    width: 80%;
    height: 8%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: tomato;
} */

/* sns */
.loginBox__form-sns{
    width: 80%;
    height: 20%;
    /* background-color: beige; */

    display: flex;
    justify-content: center;
    align-items: center;
}
    .member-sns{
        width: 8%;
        height: 50%;
        /* background-color: tomato; */
        margin-right: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
        .member-sns > img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
            .google > img{
                border: 2px solid rgba(0, 0, 0, 0.3);
            }

/* 회원가입 */
.loginBox__form-join{
    width: 80%;
    height: 13%;
}
.loginBox__form-joinDiv{
    width: 100%;
    height: 100%;
    border-radius: 10px;

    border: 1px solid #5055B1;
    color: #5055B1;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox__form_no{
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
    /* border: 1px solid rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hidden {
    display: none;
}

    /* 비회원 주문조회 */
    .loginBox__form_no-name{
        width: 80%;
        height: 13%;
        margin-bottom: 20px;
        /* background-color: tomato; */

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .loginBox-content{
            width: 100%;
            height: 100%;
        }
            .loginBox-input{
                width: 100%;
                height: 100%;

                text-align: center;
                background-color: white;

                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 10px;
            }
        

    
    /* 위치 확인용 */

    /* .loginBox__form_no-email{
        width: 80%;
        height: 10%;
        margin-bottom: 20px;
        background-color: orange;
    }

    .loginBox__form_no-password{
        width: 80%;
        height: 10%;
        margin-bottom: 20px;
        background-color: yellow;
    } */

    .loginBox__form_no-check{
        width: 80%;
        height: 13%;
        margin-bottom: 20px;
        /* background-color: green; */
    }
