.loginBox{
    /* 위치 가운데 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 35%;
    height: 90%;
}

.loginBox__logo{
    width: 100%;
    height: 20%;

    /* 이미지 설정 */
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.loginBox__logo  img{
    width: 50%;
    height: 100%;
}

.loginBox__member{
    width: 100%;
    height: 10%;
    padding: 10px 0px;
    background-color: white;

    display: flex;
    box-sizing: border-box;
}
.loginBox__member-y{
    width: 50%;
    height: 100%;
    
    border: 1px solid black;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBox__member-n{
    width: 50%;
    height: 100%;

    background-color: rgb(212, 212, 212);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox__main{
    width: 100%;
    height: 70%;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.loginBox__form{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginBox__form-inputBox{
    width: 80%;
    height: 30%;
    background-color: orange;
}
.loginBox__form-login{
    width: 80%;
    height: 10%;
    background-color: yellow;
}
.loginBox__form-except{
    width: 80%;
    height: 5%;
    background-color: tomato;
}
.loginBox__form-sns{
    width: 80%;
    height: 20%;
    background-color: beige;
}

.loginBox__form-join{
    width: 80%;
    height: 10%;
}
.loginBox__form-joinDiv{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: teal;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox__form_no{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .loginBox__form_no-name{
        width: 80%;
        height: 10%;
        margin-bottom: 20px;
        background-color: tomato;
    }

    .loginBox__form_no-email{
        width: 80%;
        height: 10%;
        margin-bottom: 20px;
        background-color: orange;
    }

    .loginBox__form_no-password{
        width: 80%;
        height: 10%;
        margin-bottom: 20px;
        background-color: yellow;
    }
    .loginBox__form_no-check{
        width: 80%;
        height: 10%;
        margin-bottom: 20px;
        background-color: green;
    }
